<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <script src="https://kit.fontawesome.com/62a1f178de.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Poppins&display=swap" rel="stylesheet">
       <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="icon" type="image/png" href="images/favicon.png" />
        <title>{% block title %}Order Restaurant Food Delivery Online & Take Out{% endblock %} | Pickmeal</title>
        {% block head %}{% endblock %}
    </head>
   
        {% block navbar %}
        {% endblock navbar %}<!------ Include the above in your HEAD tag ---------->

 <!-- <body>
    <div id="container">

        <div class="header">

        </div>


        <div id="nav">
            <ul>
 <li><a href="/Default.aspx"">Home</a></li>
 <li><a href="/webpages/Misc/contact.aspx">Contact Us</a></li>      
                 <li><a href="/webpages/Misc/login.aspx">Login</a></li>  
            </ul>  

        </div>


        <div class="sidebar">

        </div>


        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
           

        </div>

    </div>

</body>-->
        {% block content %}{% endblock content %}
        
        {% block scripts %}{% endblock scripts %}
    </body>
</html>