{% extends "master.html.twig" %}

{% block title %}
	My portfolio|Maha Mahmood Shawkat
{% endblock title %}

{% block head %}
	        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="styles/styles.css" rel="stylesheet" />
	<!------ -->
{% endblock %}

{% block content %}
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<span class="d-block d-lg-none">MAHA MAHMOOD SHAWKAT</span><span class="d-none d-lg-block " ><img class="img-fluid img-profile rounded-circle mx-auto " src="images/profile.jpg" alt="Maha" /></span></a
            ><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse mt-5" id="navbarSupportedContent" >
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Aptitudes">Aptitudes</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#ImplementedProjects">Impolemented Projects</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            
           
                <div class="resume-section-content fixed-top bg-white" style="margin-left:200px; padding-top:100px;">
                    <h1 class="mb-0">Maha <span class="text-primary">M. Shawkat</span></h1>
                    <div class="subheading mb-5">Dollard-des-Ormeaux(QC) · (514) 443-5524 · <a href="mailto:name@email.com">maha.baak@gmail.com</a></div>
                </div>
                 <section class="resume-section" id="about">
                <div class="resume-section-content" >
                    <div class="subheading mb-5" style="font-size:3rem"><a href="/profile.pdf">view my CV</a></div>
                    <p class="lead mb-5 large">I am a web developer with a good background in computer structure and hardware.Ready to apply the skill sets I have learned so far like: information gathering, planning, designing, developing, and maintaing.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="http://www.linkedin.com/in/maha-m-shawkat-394a5319a"><i class="fab fa-linkedin-in"></i></a><!--<a class="social-icon" href="#"><i class="fab fa-github"></i></a><a class="social-icon" href="www.linkedin.com/in/maha-m-shawkat-394a5319a"><i class="fab fa-twitter"></i></a><a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>-->
                    </div>
                </div>
            </section>
            <hr class="m-0" />            
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">John Abbott College</h3>
                            <div class="subheading mb-3">internet Programming and Developement(AEC)</div>
                           
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">September 2019-September 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">CISCO Certificate</h3>
                            <div class="subheading mb-3">CCNA1&CCNA2</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2007</span></div>
                    </div>
                     <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Mosul</h3>
                            <div class="subheading mb-3">B.Sc. in Computer Engineering</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">September 2001-June 2005</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item">CSS</li>
                        <li class="list-inline-item">Java</li>
                        <li class="list-inline-item">JavaScript</li>
                            <li class="list-inline-item">SQL</li>
                              <li class="list-inline-item">PHP</li>
                                <li class="list-inline-item">ASP.Net</li>
                                <li class="list-inline-item">BOOTSTRAP</li>
                    </ul>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Microsoft Visual Studio
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>NetBeans
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>BitBucket
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Trello
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Photoshop
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Microsoft SQL Server
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Visual Studio Code
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="Aptitudes">
                <div class="resume-section-content">
                    <h2 class="mb-5">Aptitudes:</h2>
                     <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Logical Problem Solver: 	Believe there is always a solution 


                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Patient: Open-minded when it comes to changes.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Punctual: Respect timelines and deadlines.
                        </li>
                        
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="ImplementedProjects">
                <div class="resume-section-content">
                    <h2 class="mb-5">Implemented Projects</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span><a href="https://pickmeal.ipd20.com/">PICKMEAL</a>
                        </li>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>Sign up/signIn/SignOut system.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>Sign up/Login Via Facebook..
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>Forget email functionality.
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>Restaurant menu.</li>
                         <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>Search for restaurant by Name/Category.
                            </li>
                             <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>Add to cart.
                            </li>
                        </ul>
                        
                    </ul>
                </div>
            </section>
        </div>{% endblock content %}{% block scripts %}{% endblock scripts %}
